body{
    margin: 0;
    padding: 0;
    background-image: url('docmain.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    
}
.p-6 {
    padding: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: blue;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: red;
}


button + div {
    margin-left: 1rem;
}
@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
    }

    .flex {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin-bottom: 1rem;
    }
}