body{
    margin: 0;
    padding: 0;
    background-image: url('patient1.jpg');
    background-size: cover;

    background-repeat: no-repeat;
}

    .center-text {
        text-align: center;
    }

.p-6 {
    padding: 1.5rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: brown;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: red;
}

/* Add some spacing between buttons */
button + div {
    margin-left: 1rem;
}